# .NET
bin/
obj/
*.user
*.suo
.vs/
*.log

# Publish output
publish/
out/

# Playwright browsers
playwright-browsers/

# Secrets / local config
appsettings.local.json
appsettings.Development.json
*.pfx
*.key

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db
desktop.ini

# Rider / JetBrains
.idea/

# VS Code
.vscode/
